.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.board-row {
  clear: both;
  display: table;
}

.box {
  height: 60px;
  width: 60px;
  float: left;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.board {
  margin: auto;
  padding: 20px;
}
